@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
  }
  p{
    font-family: 'Raleway', sans-serif;
  }
.wrapper{
    width: 100%;
    margin: auto;
    background-color: rgb(244, 251, 244);
  }
  .nav{
    overflow: auto;
    background-color: rgb(91, 113, 91);
    height: 70px;
    padding-top: 13px;
  }
  .nav h1{
    width: 45%;
    float: left;
    margin-left: 10px;
  }
  .nav h1 a{
    color: white;
    text-decoration: none;
  }
  .nav ul{
    width: 50%;
    float: left;
    text-align: right;
  }
  .nav li{
    display: inline-block;
    margin: 10px;
    padding-right: 10px;
    font-weight: 700;
  }
  .nav li a{
    color: white;
    text-decoration: none;
  }
  .banner{
    background-image: url(../assets/images/top.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;
  }
  .banner img{
    height: 350px;
    width: 340px;
    border-radius: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
  }
  .info h1{
    font-family: 'Dancing Script';
    font-size: 5em;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 8px 8px rgb(78, 109, 78);
  }
  .info p{
    line-height: 2em;
    color: black;
  }
  .social-widgets{
    margin-top: 1em;
    float: left;
    text-align: center;
    width: 100%;
  }
  .social-widgets img{
    width: 15em;
  }

  .menu{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
  }
  .menu-items{
    width: 30%;
    height: 500px;
    display: inline-block;
    margin-left: 2%;
  }
  .menu-items img{
    height: 43%;
    width: 60%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20%;
  }
  .menu-items div h2{
    color: white;
    font-size: 1.7em;
    padding-bottom: 1.5em;
  }
  .menu-items div p{
    color: white;
  }
  .menu-text1{
    padding: 120px 30px 50px 30px;
    background-color: rgb(175, 158, 123);
    margin-top: -30%;
    border-radius: 3%;
  }
  .menu-text2{
    background-color: rgb(112, 141, 112);
    padding: 120px 30px 50px 30px;
    margin-top: -30%;
    border-radius: 3%;
  }
  .menu-text3{
    background-color: rgb(89, 47, 32);
    padding: 120px 30px 50px 30px;
    margin-top: -30%;
    border-radius: 3%;
  }

  .shopping{
    overflow: auto;
    width: 100%;
    height: 496px;
    background-color: rgb(89, 47, 32);
  }
  .coffee{
    width: 50%;
    float: left;
  }
  .coffee img{
    size: 100% auto;
    background-size: contain;
  }
  .coffee-text{
    width: 45%;
    float: right;
  }
  .coffee-text p{
    color: white;
    padding-top: 20%;
    padding-right: 10%;
    line-height: 2em;
  }
  .coffee-text a{
    text-decoration: none;
    display: inline-block;
    padding: 0.6em;
    background-color: #ffffff80;
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1.5em;
    border-radius: 4%;
}
